.mint-tab-item{
  padding: 4px 0
}
.mint-header{
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .1);
}
.mint-tabbar{
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, .1);
  background-image: none;
}
.mint-tabbar .icon{
  font-size: 20px;
}
.mint-tab-item-icon{
  margin: 0 auto;
}
.mint-tab-item-label{
  padding-bottom: 4px;
}